

  .header{
    display:flex;
    background-color:#ff9999;
    border-top:solid thin #000000;
  }
  .title{
    font-size:200%;
  }
  .footer{
    display:flex;
    border-top:solid thin #000000;
  }
