body {
  padding: 0 0;
  margin: 0 0;
  font-family: sans-serif;
  line-height: 2;
  /*color: #00475e;*/
  color: #635655;
  background-color: #fdffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.middle {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border-top: solid #d9fbff;
  border-bottom: solid #d9fbff;
  border-width: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  color: #345b82;
  box-sizing: border-box;
}

h1 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  /*color: #ffffff;*/
  /*background: #00a2b8;*/
  background: #fff;
  color: #345b82;
  border-left: solid thick #95dde6;
}

h2 {
  border-bottom: solid #95dde6;
}

h3 {
  border-bottom: dotted #95dde6;
}

a {
  color: #345b82;
  text-decoration: underline solid #95dde6;
}

a:visited {
  color: #345b82;
  text-decoration: underline solid #95dde6;
}

.header {
  display: flex;
  justify-content: center;
  /*background-color: #1c548c;*/
  background-color: #ffffff;
  margin: 0 0;
  line-height: 2;
  border-bottom: solid #e6e6b8;
}

.title:visited {
  color: #0057ad;
}

.title {
  font-size: 2rem;
  color: #0057ad;
  margin-right: 0.5em;
  text-decoration: none;
}

.description {
  font-size: 1rem;
  text-decoration: none;
  vertical-align: bottom;
  margin: auto 0 0.5rem 0;
}


.mainbox {
  max-width: 40rem;
  padding: 1rem 0.5rem 0 0.5rem;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.footer {
  border-top: solid thin #0057ad;
  background-color: #fff;
  text-align: center;
  padding-bottom: 2rem;

}

.leftvoid {
  /*border-right: solid thin #00a3a3;*/
  background-color: #d9fbff;
  min-width: 0.5rem;
  flex: 1;
}

.rightvoid {
  /*border-left: solid thin #00a3a3;*/
  background-color: #d9fbff;
  min-width: 0.5rem;
  flex: 1;
}

/*
@media screen and (min-width:52rem) {
  .leftvoid {
    border-right: solid thin #0057ad;
  }

  .rightvoid {
    border-left: solid thin #0057ad;
  }
}*/

.mannaka {
  flex-basis: 52rem;
  padding-bottom: auto;
  border: solid #b8e0e6;
  border-radius: 0.5rem;
}

img {
  display: block;
  max-width: min(100%, 40rem);
  margin: 0 auto;
}

.image {
  margin: 0 auto;
  text-align: center;
  font-size: 0.9rem;
}


strong,
b {
  font-family: sans-serif;
  color: #345b82;
}

::marker {
  color: #00cbe6;
}

/* {
  outline: 1px solid #00ffFF
}